<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e4a36e3b16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="learner-list.css">
</head>

<body>
    <div class="fixed-top">
        <nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="../Images/logo.jpg" alt="" width="50" height="34" class="d-inline-block align-text-top"> Stock Portfolio Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./home.html"><i class="fa-solid fa-house-chimney-user"></i>
                    Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" target="_blank">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register" target="_blank">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/help" target="_blank">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus">About Us</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
        <!-- didnt add navbar plz add it and css file also
and also script for deleting the user. -->
        <div>
            <div class="mx-auto my-3" style="width : 80vw ;max-height  : 80vh; overflow-y : scroll">
                <div>
                    <div class="leaderboard">
                        <div class="head">
                            <h1>Users Enrolled</h1>
                        </div>
                        <div class="body p-2">
                            <div class="row ">
                                <div class="col-3">
                                    Full Name
                                </div>
                                <div class="col-5 ">
                                    Email id
                                </div>
                            </div>
                            <%if (rec.length >0){ %>
                                <% rec.forEach(function(row){ %>
                                    <div class="row rowl">
                                        <div class="col-3 overflow-auto">
                                            <%= row.username %>
                                        </div>
                                        <div class="col-5 overflow-auto">
                                            <%= row.email %>
                                        </div>
                                        <div id="delete"><button><i class="delete" idd="<%= row.id%>">DELETE</i> </button></div>
                                    </div>
                                    <% })}else{ %>
                                        <div class="row rowl">
                                            <div class="col-11">
                                                "No records found"
                                            </div>
                                        </div>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
        <script src="script.js"></script>
        <script src="../script.js"></script>
        <script>
            const deleteuser = document.getElementsByClassName('delete');
            deleteuser.addEventListener('click', async function(e) {
                        const rawResponse = await fetch('http://localhost:3010/deleteuser', {

                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                id: e.target.getAttribute('idd')
                            })
                        });
                        console.log(e.target.id);
                        window.location.reload();
                    }
        </script>
</body>

</html>